doctype 5
html
   head
      link(rel="shortcut icon", href="/favicon.ico")

      title
         block title
            | trello-orgerview

      block styles
         != css("skin")
         != css("pages/info")
         link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Overlock")

      block scripts
         != js("lib/jquery")
         != js("skin")

   - var viewDir = locals.root + "/";
   - var view = locals.filename.replace(viewDir, "").replace(".jade", "");
   - var viewClass = view.replace(/\//g, "-");
   body(class=viewClass)

      .header
         block header
            h1
               a(href="/") trello-orgerview

      block body