@import "lib/mixins"

body
   margin: 0 auto
   padding: 0

   background-color: #F0F0F0

   font-family: 'Overlock', 'Helvetica Neue', Helvetica, Arial, sans-serif
   line-height: 1.4em

p
   margin: 0 0 1.4em 0

h1
   margin: 1em 0 0 0

   font-size: 3em
   font-weight: normal
   line-height: 1.5em

h2
   margin: 1em 0 0 0

   font-size: 2em
   font-weight: normal
   line-height: 1.5em

.header
   padding: 5px 8px

   background-gradient: #1D5A72 #1A5066
   color: #91D6F2

   h1
      color: #fff
      margin: 0

      text-shadow: 0 1px rgba(0, 0, 0, 0.4)
      font-size: 20px
      line-height: 30px

      a
         color: #fff
         text-decoration: none

   .button
      margin-left: 1em
      padding: 0 8px

      float: right
      display: block

      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
      font-size: 13px
      line-height: 30px
      font-weight: bold
      text-decoration: none
      text-shadow: 0 1px rgba(0, 0, 0, 0.4)

      color: #E3E3E3
      background-gradient: #2B7CAB #28739F
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12), 0 1px 1px rgba(0, 0, 0, 0.35)
      border-radius: 3px

      &:hover
         background-gradient: #3291c8 #2f88bc
         box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.25)
         color: #eee

      &:active
         background-gradient: #2b7cab #28739f
         box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 1px rgba(0, 0, 0, 0.15)






